<h1><%= @post[:title] %></h1>
<p><%= @post[:body] %></p>
<p><%= @post[:color] %></p>
<p><%= @post[:engine] %></p>
<p><%= @post[:speed] %></p>
<h3><%= @post[:price] %></h3>
<a href="/<%= @post[:id] %>/edit">Edit</a>
<form action="/<%= @post[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
